<% extend ActiveModel::Naming %>
<% extend ActiveModel::Conversion %>
<%= form_for [topic, post] do %>
<% @comments.each do |f| %>
    <div class="media">
      <%= content_tag :div, class: 'media', id: "comment-#{f.id}" do %>
      <%= link_to '#', class: 'pull-left' do %>
      <% end %>
        <div class="media-body">
          <h4 class="media-heading">
            <%= f.body %>
          </h4>
          <small>
              <%= image_tag(f.user.avatar.tiny.url) if f.user.avatar? %>
              submitted <%= time_ago_in_words(f.created_at) %> ago by
              <%= f.user.name %>
              <% if policy(comment).destroy? %>
              <%= link_to "Delete", comment_url_helper(comment), method: :delete %>
              <% end %>
          </small>
        </div>
      </div>
      <% end %>
    <% end %>
<% end %>
