<h1>Edit Post</h1>
<div class="row">
  <div class="col-md-4">
    <p> Please follow these guidelines</p>
    <ul>
      <li> It has to rhyme, a little atleast.</li>
      <li> All of the rhymes must make sense.</li>
      <li> Do not use hashtags relentlessly.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Post Title" %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder:"Post Body" %>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>
</div>
</div>
